%footer.container
  = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal col-md-5' } do |f|
    %legend Sign Up

    = devise_error_messages!

    .form-group
      = f.label :username, class: 'col-sm-4 control-label'
      .col-sm-8
        = f.text_field :username, placeholder: 'Username', autofocus: true, class: 'form-control'

    .form-group
      = f.label :email, class: 'col-sm-4 control-label'
      .col-sm-8
        = f.email_field :email, placeholder: 'Email', autocomplete: :off, class: 'form-control'

    .form-group
      = f.label :password, class: 'col-sm-4 control-label'
      .col-sm-8
        = f.password_field :password, placeholder: 'Password', autocomplete: :off, class: 'form-control'

    .form-group
      = f.label :password_confirmation, class: 'col-sm-4 control-label'
      .col-sm-8
        = f.password_field :password_confirmation, placeholder: 'Password Confirmation', autocomplete: :off, class: 'form-control'

    .form-group
      .col-sm-offset-4.col-sm-10
        = f.submit 'Get Started', class: 'btn btn-primary'