.container
  %header
    %h1= @article.title
    %p= @article.content

  .row
    = link_to 'Edit', edit_article_path(@article)
    |
    = link_to 'Delete', article_path(@article), method: :delete
    |
    = link_to 'Back', articles_path